@font-face {
    font-family: 'PublicPixel'; /* Name your custom font */
    src: url('publicpixel.ttf') format('truetype'); /* Specify the font file and format */
    font-weight: normal;
    font-style: normal;
}

#preloader {
    font-family: 'PublicPixel', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

body {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url('bgg.gif') center/cover no-repeat fixed;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
      overflow: hidden;
        user-select: none;
}

#character {
    width: 25%;
    height: 65%;
    position: fixed;
    transform: translate(-50%, -50%);
}

#attackButton {
    position: fixed;
    bottom: 10%;
    left: 85%;
    transform: translateX(-50%);
    width: 10vw; /* 10% of viewport width */
    height: 10vw; /* 10% of viewport width */
    background-image: url('https://raw.githubusercontent.com/Ben00000000/MJ-v2/main/Attackbutton1.png');
    background-size: cover;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    opacity: 0.6;
    background-color: transparent;
}


#attackButton:active {
    background-image: url('https://raw.githubusercontent.com/Ben00000000/MJ-v2/main/Attackbutton2.png');
      opacity: 0.5; /* Set opacity to 0.8 */
}


#moveLeftButton {
    position: fixed;
    bottom: 10%;
    left: 5%;
    transform: translateX(-50%);
    width: 10vw; /* 10% of viewport width */
    height: 10vw; /* 10% of viewport width */
    background-image: url('https://raw.githubusercontent.com/Ben00000000/MJ-v2/main/Backwardbutton1.png');
    background-size: cover;
    color: white;
    border: none;
    z-index: 2;
    opacity: 0.6;
    background-color: transparent; /* Set background color to transparent */
}
#moveLeftButton:active {
 opacity: 0.5; /* Set opacity to 0.8 */
    background-image: url('https://raw.githubusercontent.com/Ben00000000/MJ-v2/main/Backwardbutton2.png');
}


#moveRightButton {
    position: fixed;
    bottom: 10%;
    left: 20%;
    transform: translateX(-50%);
    width: 10vw; /* 10% of viewport width */
    height: 10vw; /* 10% of viewport width */
    background-image: url('https://raw.githubusercontent.com/Ben00000000/MJ-v2/main/Forwardbutton1.png');
    background-size: cover;
    color: white;
    border: none;
    opacity: 0.6;
    z-index: 2;

    background-color: transparent; /* Set background color to transparent */
}

#moveRightButton:active {
 opacity: 0.5; /* Set opacity to 0.8 */
    background-image: url('https://raw.githubusercontent.com/Ben00000000/MJ-v2/main/Forwardbutton2.png');
}
@keyframes pulseBorder {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
    }
}

#ultimateButton {
    display: none;
    position: fixed;
    bottom: 70%;
    right: 50px;
    transform: translateX(-50%);
    width: 10vw;
    height: 10vw;
    background-image: url('https://raw.githubusercontent.com/Ben00000000/MJ-v2/main/Combobutton1.png');
    background-size: cover;
    color: white;
    border: none;
    opacity: 0.5;
    z-index: 2;
    background-color: transparent;
    animation: fireAnimation 1s infinite alternate, pulseBorder 2s infinite; /* Add fire animation and pulsating border */
}


@keyframes fireAnimation {
    0% {
        filter: brightness(100%);
        transform: scale(1);
    }
    100% {
        filter: brightness(120%);
        transform: scale(1.1);
    }
}

    #ultimateButton:active {
    opacity: 0.5;
        opacity: 0.5;
       background-image: url('https://raw.githubusercontent.com/Ben00000000/MJ-v2/main/Combobutton2.png');
    }

/* Health Bar Container */
#healthBarContainer {
    width: 20%;
    height: 10px;
    background-color: #7F7F7F;
    margin-top: 10px;
    border-radius: 5px; /* Add rounded corners for a softer look */
    overflow: hidden; /* Ensure the overflow is hidden to round the corners properly */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow for depth */
    opacity: 0.8;
}

/* Health Bar */
#healthBar {
    width: 100%;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease;
    border-radius: 5px; /* Match the container's border radius */
    opacity: 0.8;
}

/* Add animation for a pulse effect when the health bar changes */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#healthBarContainer:hover #healthBar {
    animation: pulse 0.5s infinite alternate; /* Apply pulse animation on hover */
}


/* Health Value */
#healthValue {
    font-size: 16px;
    color: #000;
    margin-top: 5px; /* Adjust spacing from the top as needed */
}

#blueBarContainer {
    width: 16%;
    height: 10px;
    margin-top: 10px;

    border-radius: 5px;
    overflow: hidden;

}

#blueBar {
    width: 0;
    height: 100%;
    background-color: #3498db; /* Light blue color for the bar */
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: width 0.3s ease;
    border-radius: 5px;
}

/* Add animation for a pulse effect when the blue bar changes */
@keyframes pulseBlue {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#blueBarContainer:hover #blueBar {
    animation: pulseBlue 0.5s infinite alternate;
}

#score {
   font-family: 'PublicPixel', sans-serif;
  font-size: 16px;
  color: #ffffff; /* Adjust the color as needed */
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

/* Optionally, add some animation for the score text */





/* Style for game over screen */
#gameOverScreen {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameOverMessage {
  font-family: 'PublicPixel', sans-serif;
  font-size: 21px;
  color: white;
  margin-bottom: 20px;
}

@keyframes scaleAnimation {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.2);
   }
   100% {
      transform: scale(1);
   }
}

#restartButton {
   font-size: 10px;
   font-family: 'PublicPixel', sans-serif;
   width: 80px;
   height: 80px;
   margin: 10px;
   border-radius: 50%;
   color: white;
   border: none;
   background: url('restart.png') no-repeat center center;
   background-size: cover;
   border: 1.5px solid #3FCADD;
   animation: scaleAnimation 2s infinite; /* Apply the scaleAnimation with a duration of 2 seconds and set it to run infinitely */
}


#finalScore {
  font-family: 'PublicPixel', sans-serif;
  color: white;
  margin-top: 20px; /* Add margin-top to separate from the game over message */
}


